# Confidential
.env

# Folder structure
data/source/*/*.*
data/temp/*/*.*
!data/temp/.gitkeep
!data/source/.gitkeep
mapping/input/*/*.*
mapping/output/*/*.*

# Python Specific
__pycache__
.ipynb_checkpoints

# Local
*.zip