# Confidential
.env

# Folder structure
data/**/*.*
!data/temp/.gitkeep
!data/source/.gitkeep
!data/ttl/main/.gitkeep
!data/ttl/additional/classifications/.gitkeep
mapping/input/*/*.*
mapping/output/*/*.*

# Python Specific
__pycache__
.ipynb_checkpoints

# Mapping specific
mapping/example-*.xml

# Taskfile specific
scripts/.task/**/*

# Local
*.zip