# Confidential
.env

# Folder structure
backup/*.*
data/**/*.*
!data/temp/.gitkeep
!data/source/.gitkeep
!data/ttl/main/.gitkeep
!data/ttl/additional/classifications/.gitkeep
!data/ttl/external/.gitkeep
!data/platform/*.*
logs/*.*
!logs/.gitkeep
mapping/input/*/*.*
mapping/output/*/*.*
experiments/output/*.*

# Python Specific
__pycache__
.ipynb_checkpoints

# Mapping specific
mapping/example-*.xml

# Taskfile specific
scripts/.task/**/*

# Local
*.zip
docker-compose.override.yml

scripts/debug